/* SELECTOR-->h2 { Llave de apertura 
   Propiedad--> color:green;<-- Valor [Declaración]
} Llave de cierre
*/
/* La propiedad te la brinda CSS, el valor lo declaras tú*/
/*Selectores básicos
1.ID
2.CLASS
*/

/*SELECTORES DE ID'S
// Se útiliza únicamente 1 vez por página.
*/
#titulo {
    color:red;
}
#logo {
    /*margin-top: 200px;*/
}

/*SELECTORES DE CLASES
//Puedes utilizarlas más de 1 vez
*/
.rojo {
    color:red;
}
.logo { 
    margin-top: 200px;
}
/*SELECTORES CON CLASE Y ID*/
#titulo.titulo {
    font-size:60px;
}
/*No toma el cambio porque arriba tiene más fuerza*/
.titulo {
    font-size: 60px;
}
/*SELECTORES CON 2 CLASES*/
.azul.tituloCurso{
    color:blue;
}
/*No cambiará nada por la fuerza de la etiqueta*/
.azul {
    color: red;
}
.titulo {
    color:red;
}
/*Selectores con elementos HTML*/
p {
    color:brown;
}
h2 {
    color:orange;
}
h3{
    color:green;
}
img {
    width: 300px;
}
/*SELECCIONANDO ELEMENTO HTML Y ID*/

img#logo {
    width:600px;
}
h2#titulo {
    color:orange;
}
/*SELECCIONANDO ELEMENTO HTML Y CLASES*/
section.seccion {
    background:gray;
}
div.noticia {
    background:white;
}
/*Añadiendo una clase al selector me entero rapidamente dónde está este selector*/
img.logo {

}
/*SELECTOR UNIVERSAL
*{
    color:black!important;
    font-size:20px!important;
}
*/
/*Sirve para seleccionar todos los hijos del padre y darles un estilo sin necesidad de crear
#listado-cursos h3 {
    font-size:30px;
}
#listado-cursos p {
    font-size:30px;
}
*/
#listado-cursos * {
    font-size:30px;
}
.noticia * {
    font-size: 20px;
}
/*SELECTOR DE GRUPOS*/
/*
■Para agrupar varios elementos y darles un atribtuto en común debes escribir una línea separandolos por coma (,)
■El selector de grupo (,) es bastante útil cuando quieres agregar un estilo a varios elementos y no perder tiempo
*/
h2, h3, p, a {
    text-transform: uppercase;
}
h2, h3 {
    text-align: center;
}
/*SELECTOR DESCENDIENTE*/
/*Es muy común para escribir código que no interfiera con otras secciones de tu sitio web*/
nav#navegacion {
    background: orange;
}
nav#navegacion ul {
   list-style: none;
}
nav#navegacion ul li {
    display:inline;
 }
 nav#navegacion ul li a {
     color:white;
 }
 /*Selector con hijos*/
 /* El signo de mayor es el selector con hijos*/
 section#cursos > ul {
     border: 1px solid black;
 }
 ul#listado-cursos > li {
     color:Red;
 }
 /*Se usan cuando quieres afectar sólo el primer nivel sin profundizar*/
 ul#listado-cursos li ul > li {
     color:green;
 }
 /*SELECTOR DE ELEMENTOS ADYACENTES*/

 