/** BACKGROUNDS**/

body {
  background: gray;
}
.contenedor {
  background: white;
}
header {
  background: orange
}
nav {
  background: purple;
}
table {
  background: cyan;
}
footer {
  background: orange;
}
footer nav {
  background: transparent;
}
/** Anchos y Altos **/
.contenedor {
  width: 1000px;
}
nav {
  height:80px;
}
table {
  width:300px;
}
img.logocss3 {
  width: 90px;
}
/** Margenes **/
.contenedor {
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
}
header {
  margin-bottom: 30px;
}
h2 {
  margin-bottom:30px;
}
table {
  margin-left: 30px;
  margin-bottom: 30px;
}
footer {
  margin-top: 30px;
}
/*** Padding**/
header {
  padding-top:20px;
  padding-bottom: 20px;
}

nav {
  padding-top: 10px;
  padding-bottom: 25px;
}
nav ul {
  padding:0;
}
table tr td{
  padding-top:5px;
  padding-bottom: 5px;
}
footer {
  padding-top: 20px;
}
/** Atajo Margin y Padding; */
.contenedor {
  margin: 20px auto 0 auto;
}

footer {
  padding:20px 0 0 0;
}

table {
  margin: 0 0 30px 30px;
}
header {
  /* arriba y abajo*/
  margin: 20px 0;
  /*izq y der
  margin:0 20px;*/
}

table tr td {
  padding: 5px 0;
}
